<style>
.container {
width: 100vw;
height: 100vh;
background: #22e22c;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 2px;
}
#box {
    width: 500px;
    height: 150px;
    background: #fff;
    border-radius: 3px;
    /* padding: 1rem; */
    position: relative;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

}
    body {
    margin: 0px;
    }
#sub{
    border: none;
    color: white;
    font-size: 20px;
    background-color: rgb(14, 13, 13);
    width: 100px;
    height: 30px;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 5px;
}
#link{
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    background-color: white;
    text-decoration: none;
    text-align: center;
}
    </style>
    
    <div class="container">
        <div id="box">
            <h1>Cadastro do Cliente</h1>
            <form method="post" action="/cadastro/cliente">
                <div>
                    <label for="Nome">Nome:</label><br>
                    <input type="text" name="Nome" required> 

                </div>
                <input type="submit" value="Cadastrar" id="sub">
            </form>
            <a href="/" id="link">Retornar</a>
        </div>
        
    </div>
    