<style>
.container {
width: 100vw;
height: 100vh;
background: #22e22c;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 2px;
}
#box {
    width: 500px;
    height: auto;
    background: #fff;
    border-radius: 3px;
    /* padding: 1rem; */
    position: relative;
    padding: 5px;

}
h3{
    margin: 0;
    position: relative;
    top: -10px;
}
body {
    margin: 0px;
}
.card{
    width: 60px;
    height: 20px;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
}
.card:hover{
    color: white;
    background-color: aqua;
}
#container_card{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
#client{
    margin: 0%;
    color: #fff;
}
.links{
    background-color: #283129;
    text-decoration: none;
    width: 100px;
    padding: 5px;
    font-size: 20px;
    color: white;
    border-radius: 3px;
    position: relative;
    top: -50px;
    left: -20px;
}
.table-wrapper{
    margin: auto;
    /* box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 ); */
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #324960;
}


/* .fl-table thead th:nth-child(odd) {
    color: #ffffff;
    ;
} */

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}
</style>

<div class="container">
    <div id="box">
        <a href="/cadastro/cliente" class="links">Cadastro de Clientes</a>
        <a href="/cadastro/carros" class="links">Cadastro de Carros</a>
        <h3>Todos os carros:</h3>
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th>Cód. do Carro</th>
                        <th>Modelo</th>
                        <th>Cor</th>
                        <th>Cód. do Cliente</th>
    
                    </tr>
                </thead>
                <tbody>
                    {% for post in carros %}
                    <tr>
                        <td>{{post[0]}}</td>
                        <td>{{post[1]}}</td>
                        <td>{{post[3]}}</td>
                        <td>{{post[2]}}</td>
    
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h3>Carros a venda:</h3>
        <div class="table-wrapper">
            <table class="fl-table">
            <thead>
                <tr>
                    <th>Cód. do Carro</th>
                    <th>Modelo</th>
                    <th>Cor</th>
                    <th>Cód. do Cliente</th>
                    <th>Ações</th>


                </tr>
            </thead>
            <tbody>
                {% for post in venda %}
                <tr>
                    <td>{{post[2]}}</td>
                    <td>{{post[3]}}</td>
                    <td>{{post[4]}}</td>
                    <td>{{post[1]}}</td>
                    <td><a href="/finalizar-venda/{{post[0]}}">Atualizar</a></td>


                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
        
    </div>

    <h1 id="client">Clientes:</h1>
    <div id="container_card">
        {% for post in dados %}
            <a href="/cliente/{{post[0]}}" class="card">{{post[1]}}</a>
        {% endfor %}

    </div>
    
</div>
